<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="imagehover.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
	

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 left-side">
                <ul class="nav flex-column">
                    <li class="nav-item pt-5 deneme text-center">
                        <a class="nav-link active" href="home.html">
                            <i class="fa fa-2x fa-home"></i>
                        </a>
                    </li>
                    <li class="nav-item pt-5 deneme text-center">
                        <a class="nav-link" href="#">
                            <i class="fa fa-2x fa-info-circle"></i>
                        </a>
                    </li>
                    <li class="nav-item pt-5 deneme text-center">
                        <a class="nav-link" href="add.html">
                            <i class="fa fa-2x fa-plus"></i>
                        </a>
                    </li>
                    <li class="nav-item pt-5 deneme text-center">
                        <a class="nav-link" href="#">
                            <i class="fa fa-2x fas fa-clipboard-list"></i>
                        </a>

                    </li>
                    <li class="nav-item pt-5 deneme text-center">
                        <a class="nav-link" href="#">
                            <i class="fa fa-2x fa-sign-in-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 right-side">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6  event" style="background-image:url(event1.jpg)">
                        <div class="fdw-background">
                            <h4>Save the Queen is mygoal</h4>
                            <p>Open project</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6  event" style="background-image:url(banner.jpg)">
                        <div class="fdw-background">
                            <h4>Save the Queen is mygoal</h4>
                            <p>Open project</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6  event" style="background-image:url(banner.jpg)">
                        <div class="fdw-background">
                            <h4>Save the Queen is mygoal</h4>
                            <p>Open project</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6  event" style="background-image:url(event1.jpg)">
                        <div class="fdw-background">
                            <h4>Save the Queen is mygoal</h4>
                            <p>Open project</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6  event" style="background-image:url(event1.jpg)">
                        <div class="fdw-background">
                            <h4>Save the Queen is mygoal</h4>
                            <p>Open project</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6  event" style="background-image:url(banner.jpg)">
                        <div class="fdw-background">
                            <h4>Save the Queen is mygoal</h4>
                            <p>Open project</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
	
	
</body>

</html>