body {
    background-image: url("paper.gif");
	
}
.btn-group{
	align-items: center;
	
}
#tab-1{
	padding-left: 425px;
	
}

.well{
	position: relative;
	height: 400px;
	width: 500px;
	
}
.well img{
	max-width:100%;
	max-height:100%;

}

.container{
		
		margin-top: 100px;
		font-family: 'Arial', serif;
		line-height: 1.6
		
			
		}



		ul.tabs{

			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.tabs li.current{
			background: #ededed;
			color: #222;
		}
		
		.tab-content{
			
			display: none;
			background: transparent;
			padding: 5px;
			position: absolute;
			width: 78%;
			height: 90%;
			left: 0px;
		}
		.col{
			background-color: black;
			padding: 0;
			position: relative
	
			
			padding-bottom: 0px;
			
		}

		.tab-content.current{
			display: inherit;
		}




.nav-link{
	color: white !important;
	align-items: center;
	padding-bottom: 25px;

	}
.row{
	
}

.deneme{
	padding-top: 25px;
    
}
.text-center{
    
}


.fdw-background{ 
    background-color:rgba(0,0,0,0.6);
    opacity:0;
    width:100%; 
    height:100%;
}
p, h4{
    color: white;
    text-align: center;
    padding-top: 40px;
}




@import "https://fonts.googleapis.com/css?family=Raleway:300,400,500,900,700,300|Montserrat:300,400,700";
body {
  background: linear-gradient(310deg, #5823fb, #9058bd, #24b2fb, #24fba8);
  background-size: 600% 600%;
  transition: all 0.3s ease-in-out;
  animation: oscillateBG 10s ease infinite;
}

.form-wrapper {
  padding: 0 5vw 6vw;
  display: flex;
  align-items: top;
  justify-content: center;
  height: 100vh;
  position: relative;
  z-index: 10;
}
.form-wrapper .form {
  max-width: 468px;
  margin: auto;
  text-align: center;
}
.form-wrapper .form .header {
  padding: 0 30px;
}
.form-wrapper p {
  color: #aaa;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: justify;
}
.form-wrapper h1 {
  color: #fff;
  font-weight: 700;
  font-size: 66px;
  line-height: 62px;
  text-align: left;
}
.form-wrapper h1 span:first-child {
  color: #ea9078;
}
.form-wrapper h1 span:nth-child(2) {
  color: #65c3ad;
}

button {
  background: transparent;
  outline: none;
  user-select: none;
  cursor: not-allowed;
  display: block;
  color: #fff;
  border: 0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1em;
  margin: 20px 0 50px;
}
button.submit {
  padding-left: 28px;
}
button.submit .inner {
  position: relative;
  display: block;
}
button.submit .inner:before {
  content: "";
  position: absolute;
  width: calc(100% - 8px);
  height: 3px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
button.submit:hover .inner:before {
  opacity: 1;
  transform: translate(0, 30px);
}

p.intro {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5em;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

/**
  /$$$$$$  /$$$$$$$$ /$$       /$$$$$$$$  /$$$$$$  /$$$$$$$$ /$$$$$$ 
 /$$__  $$| $$_____/| $$      | $$_____/ /$$__  $$|__  $$__//$$__  $$
| $$  \__/| $$      | $$      | $$      | $$  \__/   | $$  | $$  \__/
|  $$$$$$ | $$$$$   | $$      | $$$$$   | $$         | $$  |  $$$$$$ 
 \____  $$| $$__/   | $$      | $$__/   | $$         | $$   \____  $$
 /$$  \ $$| $$      | $$      | $$      | $$    $$   | $$   /$$  \ $$
|  $$$$$$/| $$$$$$$$| $$$$$$$$| $$$$$$$$|  $$$$$$/   | $$  |  $$$$$$/
 \______/ |________/|________/|________/ \______/    |__/   \______/ 
**/
select.btr-select {
  display: none;
}

.btr-select {
  width: 100%;
  cursor: pointer;
  position: relative;
  margin: 0 0 30px;
  text-align: left;
  color: #fff;
}

dl.btr-select dt {
  width: 100%;
  box-sizing: border-box;
  color: inherit;
  padding: 18px 25px;
  position: relative;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: 300;
  border: solid 5px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
dl.btr-select dt::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: solid 3px #fff;
  border-bottom: solid 3px #fff;
  right: 20px;
  top: calc(50% - 9px);
  transform: rotate(45deg);
  z-index: 2;
}
dl.btr-select dt::after.open::after {
  transform: rotate(225deg);
  top: calc(50% - 7px);
  z-index: 1;
  opacity: 0;
}

dl.btr-select dd {
  position: absolute;
  width: 100%;
  font-size: 18px;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transform: translate(0px, 0px);
}
dl.btr-select dd ul {
  list-style: none;
  margin: 0;
  padding: 18px;
  box-shadow: 10px 10px 0 #2cffce;
  text-align: left;
}
dl.btr-select dd.open {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0px;
  transform: translate(10px, 10px);
  z-index: 3;
}
dl.btr-select dd.open ul {
  background: white;
  border-radius: 20px;
  list-style: none;
  margin: 0;
  padding: 18px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.13);
  text-align: left;
  font-weight: 300;
}
dl.btr-select dd.open ul li {
  width: 100%;
  box-sizing: border-box;
  color: #777;
  padding: 8px;
}
dl.btr-select dd.open ul li:first-child {
  color: #ccc;
}
dl.btr-select dd.open ul li:hover {
  background-color: #fafafa;
}

textarea {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  box-sizing: border-box;
  color: inherit;
  padding: 18px 26px;
  position: relative;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: 300;
  border: solid 5px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  background: transparent;
  outline: none;
  user-select: none;
  margin-bottom: 30px;
  color: #fff;
  height: auto;
  border-radius: 50px;
}
textarea:focus {
  border-color: #2cffce;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

@keyframes oscillateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

   